img.screenshot-image {
  max-width: 100%;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.3);
  border: 1px solid #ccc;
}

.image-frame {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px 15px;
}

code {
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 85%;
}

p > code, li > code {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.2em;
  border-radius: 3px;
  color: #000;
}
